<!doctype html>
<html>

<head>
  <title>豆印</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}" />
</head>

<body>
  <div class="main">
    <div class="box">
      <form id="yin" name="yin" action="/yin" method="post">
        <input type="text" id="account" name="account" maxlength="40" title="请输入豆瓣账号" placeholder="豆瓣账号">
        <input type="submit" id="submit" value="→" title="封印！">

        <ul>
          {% for c, v in category.items() %} {% if v.enable %}
          <li>
            <input id={{c}} type="checkbox" name={{c}}>
            <label for={{c}}>{{v.display}}</label>
          </li>
          {% endif %} {% endfor %}
        </ul>
      </form>
    </div>
  </div>
</body>

</html>